:root {
    --primary: #25deff;
    --secondary: #192824;
    --background: #121212;
    --background2: #181818;
    --green: #1FC11B;
    --yellow: #FFD913;
    --orange: #FF9C55;
    --red: #FF5555;
    --neon1: #67e8ff;
    --neon2: #5bffaa;
    --pink1: #ff10f0;
    --pink2: #ff1093;
  }

*{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/*//////////*/
/* Reusable */
/*//////////*/

.bold{
    font-weight: bold;
}

.card-dots-wrapper{
    position: relative;
}

.card-dot-one{
    position: absolute;
    top: -8px;
    right: 10px;
    border: 5px solid var(--green);
    border-radius: 50%;
}

.card-dot-two{
    position: absolute;
    top: -8px;
    right: 30px;
    border: 5px solid var(--yellow);
    border-radius: 50%;
}

.card-dot-three{
    position: absolute;
    top: -8px;
    right: 50px;
    border: 5px solid var(--red);
    border-radius: 50%;
}

.gradient{
    background: linear-gradient(45deg, var(--neon1), var(--neon2));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.neon-blue{
    text-shadow: -1px -1px 2px #67e8ff, 0 0 0.07em #67e8ff, 0 0 0.1em #12d4ff;;
}

.neon-orange{
    text-shadow: -1px -1px 2px #ffa15e, 0 0 0.07em #ff7c1f, 0 0 0.1em #12d4ff;;
}

/*//////////////*/
/*    NAVBAR    */
/*//////////////*/

.navbar-brand{
    text-decoration: none;
}

.navbar-icon{
    font-size: 1.25em;
}

.navbar-item:hover{
    background: linear-gradient(45deg, var(--neon1), var(--neon2));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*//////////////*/
/* LANDING PAGE */
/*//////////////*/

.landingpage-wrapper{
    height: 100vh;
    background-color: var(--background);
    padding-block: max(25vh, 10rem);
    /* background-image: url('../img/background.png'); */
}

.landingpage-div{
    white-space: nowrap;
    margin: 0 min(15%) 0 min(7%);
}

.landingpage-card {
    background-color: var(--background);
    display: block;
    min-width: 300px;
    max-width: 900px;
    min-height: 90px;
    padding: 20px 0 20px 20px;
    border: 3px solid var(--primary);
    box-shadow: 
        10px -10px 0 -3px var(--background), 10px -10px var(--green),
        20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
        30px -30px 0 -3px var(--background), 30px -30px var(--orange),
        40px -40px 0 -3px var(--background), 40px -40px var(--red);
}



.landingpage-button-wrapper{
    margin-top: clamp(50px, 10vh ,350px);
}

.landingpage-button{
    background-color: var(--background);
    font-size: clamp(1.5rem, 5vw, 2rem);
    border-bottom: 2px solid var(--neon2);
    text-decoration: none;
}

/*//////////////*/
/*    ABOUT     */
/*//////////////*/

.about-image{
    box-shadow: 0 0 20px var(--orange);
}

.about-color{
    color: var(--orange);
}

.about-text{
    font-size: clamp(0.7rem, 5vw, 1.2rem);
}

.about-button{
    color: #fff;
    font-size: clamp(1.5rem, 5vw, 2rem);
    border-bottom: 2px solid var(--orange);
    text-decoration: none;
}

.about-card {
    background-color: var(--background2);
    display: block;
    min-width: 300px;
    max-width: 900px;
    min-height: 90px;
    padding: 20px 0 20px 20px;
    border: 3px solid var(--orange);
}